.red1{
    display: flex;
}
.blue1{
    padding-right: 20px;
}
.blue2{
    padding-right: 20px;
}
.blue3{
    padding-right: 20px;
}
.red2{
    display: flex;
}
.blue4{
    padding-right: 95px;
}
.blue6{
    padding-left: 125px;
}
.but{
    padding-top: 20px;
}